.transactions{
  height: calc(50vh);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: .1rem 1rem;
}

::ng-deep .page-item.disabled .page-link {
  background-color: #f0f3f5;
}


